<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>角色添加</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>新增角色信息 <i class="fa fa-user"></i></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>
                    <form class="form-horizontal form-label-left" th:action="@{/role/save}" action="/user/save" method="post">
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="roleName"> 角色名 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="roleName" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="roleName" required="required"
                                       placeholder="请输入角色名" type="text">
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-6 center-margin">
                                <button type="button" class="btn btn-success btn-sm" th:onclick="|xz(1)|">全选</button>
                                <button type="button" class="btn btn-success btn-sm" th:onclick="|xz(0)|">全不选</button>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> 用户角色 <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div th:each="right:${session.rights}">
                                    <label th:text="${right.rightText}" th:for="${right.rightCode}"></label><input th:onclick="doChec(this)" type="checkbox" name="rightId" th:id="${right.rightCode}" th:value="${right.rightCode}">
                                    <p class="col-lg-offset-1" th:each="rig:${session.map[right.rightCode]}">
                                        <label th:text="${rig.rightText}" th:for="${rig.rightCode}"></label><input th:onclick="doClick(this)" type="checkbox" name="rightId" th:id="${rig.rightCode}" th:value="${rig.rightCode}">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success">保存</button>
                                <button type="button" class="btn btn-primary" id="back">返回</button>
                                <br/><br/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script layout:fragment="js">
    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
    });
    function  doChec(obj) {
        if ($(obj).prop("checked")){
            $(obj).nextAll().children("input").prop("checked", true);
        }else{
            $(obj).nextAll().children("input").prop("checked", false);
        }
    }

    function doClick(obj){
        var flag = true;
        $(obj).parent().parent().children("p").each(function(i,val){
            if($(val).find("input").prop("checked")){
            }else{
                flag = false;
            }
        })
        $(obj).parent().parent().find("input").eq(0).prop("checked", flag);
    }

    function  xz(type) {
        if (type==1){
            $("[type=checkbox]").prop("checked", true);
        }else{
            $("[type=checkbox]").prop("checked", false);
        }
    }
</script>
</html>