<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>新增销售机会</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-briefcase"></i> 销售机会管理->新增销售机会 </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="forms" class="form-horizontal form-label-left" th:action="@{/sal/save}" action="/sal/save" method="post">
                        <label class="text-center col-md-2 col-sm-2 col-xs-2" for="chcCustName"> 客户名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <input type="text" class="form-control" id="chcCustName" name="chcCustName">
                        </div>
                        <label class="text-center col-md-2 col-sm-2 col-xs-2" for="chcLinkman"> 负责人 <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <input type="text" class="form-control" id="chcLinkman" name="chcLinkman">
                        </div>
                        <label class="text-center col-md-2 col-sm-2 col-xs-2" for="chcSource"> 机会来源
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <input type="text" class="form-control" id="chcSource" name="chcSource">
                        </div>
                        <label class="text-center col-md-2 col-sm-2 col-xs-2" for="chcRate"> 成功几率（%） <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <input type="text" class="form-control" id="chcRate" name="chcRate">
                        </div>
                        <label class="text-center col-md-2 col-sm-2 col-xs-2" for="chcTel"> 公司电话 <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <input type="text" class="form-control" id="chcTel" name="chcTel">
                        </div>
                        <label class="text-center col-md-2 col-sm-2 col-xs-2" for="chcTitle"> 概要 <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <input type="text" class="form-control" id="chcTitle" name="chcTitle">
                        </div>
                        <label class="text-center col-md-2 col-sm-2 col-xs-2"> 地区 <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <select name="chcArea" id="chcArea" class="form-control" required="required">
                                <option value="0">--请选择--</option>
                                <option th:each="dict:${dqDictis}" th:value="${dict.dictValue}" th:text="${dict.dictItem}" value="">地区</option>
                            </select>
                        </div>
                        <label class="text-center col-md-2 col-sm-2 col-xs-12"> 客户等级 <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <select name="chcClientGrade" id="chcClientGrade" class="form-control" required="required">
                                <option value="0">--请选择--</option>
                                <option th:each="dict:${lvDictis}" th:value="${dict.dictValue}" th:text="${dict.dictItem}" value="">角色等级</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="text-center col-md-2 col-sm-2 col-xs-12" for="chcTitle"> 机会描述 <span class="required">*</span>
                            </label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <textarea class="form-control" rows="4" placeholder="rows=&quot;3&quot;" name="chcDesc" id="chcDesc"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success">保存</button>
                                <button type="button" class="btn btn-primary" id="back">返回</button>
                                <br/><br/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script layout:fragment="js">
    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
        $("#forms").submit(function () {
            if($("#chcCustName").val()==""){
                alert("带*号的为必填项");
                return false;
            }
            if($("#chcLinkman").val()==""){
                alert("带*号的为必填项");
                return false;
            }
            if($("#chcRate").val()==""){
                alert("带*号的为必填项");
                return false;
            }
            if($("#chcTel").val()==""){
                alert("带*号的为必填项");
                return false;
            }
            if($("#chcTitle").val()==""){
                alert("带*号的为必填项");
                return false;
            }
            if($("#chcClientGrade").val()==0){
                alert("带*号的为必填项");
                return false;
            }
            if($("#chcArea").val()==0){
                alert("带*号的为必填项");
                return false;
            }
            if($("#chcDesc").val()==""){
                alert("带*号的为必填项");
                return false;
            }
            return true;
        })
    });
</script>
</html>